<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Enter the client id from the portal.-->
      <add key="1n5klek30f62n" value="test" />
      <!--Enter the client secret from the portal.-->
      <add key="4fe725efbc22f443556a0367be74e23cdde64d85061fd152bd3f37df96cef126
" value="asasdf3241234va" />
      <!--Default grant type is client_credentials-->
      <add key="GrantType" value="client_credentials" />
      <!--Default scope is all-->
      <add key="Scope" value="all" />
      <!--Enter the URL for the Service-->
      <add key="ServiceURL" value="https://hapag-lloyd.csod.com/services/api/x/users/v1/employees" />
    </appSettings>
</configuration>
